#npc {
	position: absolute;
	width: 100%;
	height: 100%;
}
#npc img {
	position: absolute;
	height: 64%;
}
#npc img:nth-child(1) {
	right: 3%;
	bottom: 3%;
}
#npc img:nth-child(2) {
	left: 50%;
	transform: translate(-50%);
	bottom: 3%;
}
#npc img:nth-child(3) {
	left: 24%;
	transform: translate(-24%);
	top: 3%;
}
#npc img:nth-child(4) {
	height: 64%;
	left: 3%;
	bottom: 3%;
}
#npc img:nth-child(5) {
	right: 20%;
	transform: translate(-20%);
	top: 3%;
}
