#web_name {
  	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
#tips {
    position: absolute;
    width: 18%;
    height: 18%;
    background-color: #385743;
    right: 1%;
    bottom: 1%;
    border: 16px solid #B1751B;
    border-radius: 3%;
    padding: 1%;
    color: white;
    box-shadow: 5px 5px 5px grey;
    font-size: 22px;
    word-break: keep-all;
}
