#web_name {
  	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
#npc {
    display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}
#npc img {
	position: absolute;
	max-height: 64%;
}
#npc img:nth-child(1) {
	right: 3%;
	bottom: 12%;
	z-index: 4;
}
#npc img:nth-child(2) {
	left: 50%;
	transform: translate(-50%);
	bottom: 3%;
	z-index: 5;
}
#npc img:nth-child(3) {
	left: 13%;
	bottom: 32%;
	z-index: 2;
}
#npc img:nth-child(4) {
	left: 3%;
	bottom: 12%;
	z-index: 3;
}
#npc img:nth-child(5) {
	right: 21%;
	bottom: 32%;
	z-index: 1;
}
#tips {
    position: absolute;
    width: 18%;
    height: 18%;
    background-color: #385743;
    right: 1%;
    bottom: 1%;
    border: 16px solid #B1751B;
    border-radius: 3%;
    padding: 1%;
    color: white;
    box-shadow: 5px 5px 5px grey;
    font-size: 22px;
    word-break: keep-all;
}
